.bike-grid {

  &.dragging {
    background-color: @faint-black;
  }

}

.bike-grid-wrapper {
  height: calc(~'75% - ' @navbar-height);
  .flexbox;
  .flex-flow(row, wrap);
  .align-items(start);
  .align-content(start);
  .justify-content(start);

  &.empty {
    .flex-direction(column);
    .align-items(center);
    .justify-content(center);
  }
}


.bike-item {
  height: 250px;
  width: 250px;
  position: relative;
  border: 1px solid white;

  .bike-item-image {
    height: 100%;
    width: 100%;
    .flexbox;
    // .align-items(center);
    .align-items(start);
    .justify-content(center);

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .bike-item-info {
    .flexbox;
    .flex-flow(row, nowrap);
    .align-items(center);
    .align-content(space-between);
    .justify-content(space-between);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    padding: 0 1em;

    .bike-item-name {
      .align-self(center);
      color: white;
      font-weight: 450;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }

    .bike-item-action {
      .align-self(end);
    }

  }

}

// .build-bikeshed-button {
//   .enhanced-button;
//   .flexbox;
//   .flex-direction(column);
//   .align-items(center);
//   .justify-content(center);

//   .build-bikeshed-icon {
//     font-size: 12em;
//   }

//   .build-bikeshed-message {
//     font-size: 1.5em;
//   }
// }

// .bikeshed-options {
//   height: 25%;
//   .flexbox
//   .flex-direction(column);
// }

