// .home {

//   header {
//     .flexbox;
//     .flex-direction(column);
//     .align-items(center);
//     .justify-content(center);
//     height: calc(~"100% - " @navbar-height);
//     background-color: @navbar-color;
//     color: @white;

//     .title {
//       font-size: 6em;
//     }

//     .sub-title {
//       font-size: 2.5em;
//     }

//   }

//   section {
//     height: 20%;
//     min-height: 20%;
//   }

// }

.bikeshed-builder {

  .bikeshed-options {

  }

}


.bike-grid {

  &.dragging {
    background-color: @faint-black;
  }

}

.bike-grid-wrapper {
  height: calc(~'75% - ' @navbar-height);
  .flexbox;
  .flex-direction(row);

  &.empty {
    .flex-direction(column);
    .align-items(center);
    .justify-content(center);
  }

}

.build-bikeshed-button {
  .enhanced-button;
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);

  .build-bikeshed-icon {
    font-size: 12em;
  }

  .build-bikeshed-message {
    font-size: 1.5em;
  }
}

// .bikeshed-options {
//   height: 25%;
//   .flexbox
//   .flex-direction(column);
// }

