@icon-button-size: @icon-size * 2;

.icon-button {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);

  position: relative;
  padding: @icon-size / 2;

  &.disabled {
    color: lighten(@body-text-color, 75%);
  }

}
