nav.navbar {
  .flexbox;
  .flex-direction(row);
  .navbar-text;
  background-color: @navbar-color;
  z-index: @z-index-navbar;
  height: @navbar-height;
  width: 100%;
  position: fixed;

  .menu {
    padding: 0 1em;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  .inner {
    .flexbox;
    .flex-direction(row);
    .align-items(center);
    .justify-content(space-between);
    width: 100%;
    :last-child {
      padding: 0 1em;
    }

  }
}
