.left-nav {

  nav {
    .flexbox;
    .flex-direction(column);
    .whiteframe-z2;
    .navigation-transition;

    position: fixed;
    background-color: @canvas-color;
    z-index: @z-index-sidenav;
    width: @left-nav-width;
    top: @app-bar-height;
    left: 0;
    bottom: 0;

    &.closed {
      transform: translateX(@left-nav-width * -1px);
    }
  }

  .menu-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: @z-index-sidenav - 1;
    top: @app-bar-height;
  }

}
