@sidebar-transition-duration: 0.20s;

// sidebar and sidebar-overlay positioning and size
.sidebar-container {
  .sidebar {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: @sidebar-width;
    top: @navbar-height;
    bottom: 0;
    left: 0;
    z-index: @z-index-sidebar;
    transition: transform @sidebar-transition-duration ease-in-out;
  }

  .sidebar-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: @z-index-sidebar - 1;
    background-color: @black;
  }

  &.open {
    .sidebar-overlay {
      transition: opacity @sidebar-transition-duration ease-in-out;
      opacity: 0.4;
    }
  }

  &.closed {
    .sidebar {
      transform: translateX(@sidebar-width * -1px)
    }

    .sidebar-overlay {
      transition: opacity @sidebar-transition-duration ease-in-out, transform 0s ease-in-out @sidebar-transition-duration;
      transform: translateX(-100%);
      opacity: 0;
    }
  }
}

.sidebar {
  .flexbox;
  .flex-direction(column);
  box-shadow: @sidebar-shadow;
  background-color: @canvas-color;
  white-space: nowrap;
  line-height: 40px;
}

.sidebar-section {
  .flexbox;
  .flex-direction(column);

  &:first-child {
    margin-top: 1em;
  }

  &:last-child {
    border-bottom: none;
  }

  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 8px 0;
  margin: 0.5em 0;

  a {
    padding: 4px 0 4px 1.5em;
    color: @dark-black;

    &.active {
      color: @accent-1-color;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.05);
      outline: none;
    }
  }
}
