{
  "parser": "babel-eslint",
  "rules": {
    "strict": false,
    "no-console": false,
    "space-before-blocks": false,
    "no-multiple-empty-lines": false
  },
  "env": {
    "mocha": true,
    "browser": true,
    "node": true
  }
}
