{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0,
    "no-console": 0,
    "no-multiple-empty-lines": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  },
  "env": {
    "mocha": true,
    "browser": true,
    "node": true
  }
}
