@import "../../../../styles/styles.less";

.button-label {
  font-weight: @button-font-weight;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 2px;
  line-height: 36px;
  padding: 0px 8px;
}
