:root {
  --color-dark-divider: rgba(0, 0, 0, 0.12);
}

.wrapper {
  position: relative;
  overflow: hidden;
}

/**
 * Adds a semi-transparent border to images
 * Source: http://blog.vjeux.com/2012/image/css-semi-transparent-border-on-images.html
 */
.wrapper:after {
  border: 1px solid var(--color-dark-divider);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image {
  position: absolute;
}

.animating {
  will-change: filter, -webkit-filter;
}
