/**
 * Card
 */
.card {
  display: flex;
  flex-flow: column nowrap;
  composes: typoCard from '../styles/typography.css';
  min-height: 200px;
  overflow: hidden;
  /*min-width: 330px;*/
  z-index: 1;
  position: relative;
  background-color: #FFF;
  border-radius: 2px;
}

.shadow2 {
  composes: shadow2dp from '../styles/shadows.css';
}

.shadow3 {
  composes: shadow3dp from '../styles/shadows.css';
}

.shadow4 {
  composes: shadow4dp from '../styles/shadows.css';
}

.shadow6 {
  composes: shadow6dp from '../styles/shadows.css';
}

.shadow8 {
  composes: shadow8dp from '../styles/shadows.css';
}

.shadow16 {
  composes: shadow16dp from '../styles/shadows.css';
}

.body {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  padding: 16px;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  composes: typoCard from '../styles/typography.css';
  line-height: normal;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 8px;
}

.actionsBorder {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
