@value colors: 'components/styles/colors.css';
@value DarkDivider, LightCard from colors;

.card {
  display: inline-block;
  position: relative;
  background-color: LightCard;
  border-radius: 2px;
}

.elevation2 {
  composes: ShadowElevation2 from 'components/styles/shadows.css';
}

.title {
  padding: 16px;
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}

.content {
  padding: 16px;
  position: relative;
}

.content + .content,
.title + .content {
  border-top: 1px solid DarkDivider;
}

.actions {
  border-top: 1px solid DarkDivider;
  padding: 8px;
  position: relative;
}
