// @import "../../styles/typography.less";
@import "../styles/colors.less";

.bikeshed-builder {
  flex: 0 1 768px;
  // flex: 0 1 896px;
}

.bikeshed-builder-paper {
  width: 100%;
}

.bikeshed-builder-buttons {
  display: flex;
  width: 100%;
  padding: 15px 16px;
}

.bikeshed-builder-content {
  padding: 20px 20px 0;
}

.bikeshed-builder-description {
  width: 100%;
}

.bikeshed-builder-grid {
  margin: 0 -2px;
}

.bikeshed-builder-item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bikeshed-builder-item-image {
  .bikeshed-builder-item-square &,
  .bikeshed-builder-item-longer & {
    max-width: 100%;
  }

  .bikeshed-builder-item-square &,
  .bikeshed-builder-item-wider & {
    max-height: 100%;
  }
}

// @TODO Check if this makes sense or not
.bikeshed-builder-item-small {
  border: solid 1px @grey-300;
}

.bikeshed-builder-item-longer {
  flex-direction: row;
}

.bikeshed-builder-item-wider {
  flex-direction: column;
}

.bikeshed-builder-placeholder {
  border: dashed 2px @faint-black;
  &:hover, &:active {
    border: dashed 2px @min-black;
  }
}

.bikeshed-builder-placeholder-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bikeshed-builder-placeholder-icon {
  margin: auto;
  fill: @min-black;
  .bikeshed-builder-placeholder:hover &,
  .bikeshed-builder-placeholder:active & {
    fill: @light-black;
  }
}

.bikeshed-builder-placeholder-text {
  padding: 0 8px 8px;
  font-size: 1.4rem;
  color: @min-black;
  .bikeshed-builder-placeholder:hover &,
  .bikeshed-builder-placeholder:active & {
    color: @light-black;
  }
}
