/**
 * Display
 */

.displayBase {
  margin-top: 24px;
  margin-bottom: 24px;
}

.display1 {
  composes: typoDisplay1 from '../styles/typography.css';
  composes: displayBase;
}

.display2 {
  composes: typoDisplay2 from '../styles/typography.css';
  composes: displayBase;
}

.display3 {
  composes: typoDisplay3 from '../styles/typography.css';
  composes: displayBase;
}
