/**
 * Page
 */
:root {
  --mobile-margin: 16px;
  --desktop-margin: 24px;
}

/* Mobile */
/* max-width: 840px - 1px */
@custom-media --mobile (width <= 839px);

/* Desktop */
/* min-width: 840px */
@custom-media --desktop (width >= 840px);

.page {
  /*margin: 0 auto;*/
  /*padding: 0 var(--desktop-margin) var(--desktop-margin);*/
  /*max-width: 720px;*/
}
@media (--mobile) {
  .page {
    padding: 0 var(--mobile-margin) var(--mobile-margin);
  }
}

.page {
  display: grid;

  /*grid-template-columns: 200px 40px auto 40px 200px;*/
  /*grid-template-rows: auto 1fr;*/
}

.subhead {
  height: 48px;
  line-height: 48px;
  padding: 0 var(--mobile-margin);
  composes: textColorSecondary from '@components/styles/colors.css';
}
