:root {
  /*--mobile-margin: 16px;*/
  --desktop-margin: 24px;
}

@custom-media --mobile-screen (max-width: 600px);

.page {
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;

  /* @TODO: Experiment with other values */
  max-width: 720px;
  margin: 0 auto;
  padding: var(--desktop-margin);
}

@media (--mobile-screen) {
  .page {
    min-height: calc(100vh - var(--layout-toolbar-mobile-height));
    padding: 0;
  }
}
