/* Magic values from material design's button spec */
@value disabledText: rgba(0, 0, 0, 0.26);
@value activeButton: rgba(153, 153, 153, 0.40);

@value colors: 'components/styles/colors.css';
@value disabled, divider, primary, primaryContrast, primaryDark, primaryText, secondary, secondaryDark, secondaryContrast from colors;

/**
 * Shared base values
 */
.base {
  /* Resets */
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  composes: button from 'components/styles/typography.css';
  display: inline-block;
  position: relative;
  height: 36px;
  padding: 6px 8px; /* height 36px - line-height 24px => 12px total => 6px each */
  text-align: center;
  text-transform: uppercase; /* @TODO: Remove, it's not needed */
  outline-width: 0;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 0;
}

.base:-moz-focus-inner {
  border: 0;
  padding: 0;
}

.base:disabled {
  cursor: auto;
  pointer-events: none;
}

/**
 * Shared flat values
 */
.flat {
  composes: shadowNone from 'components/styles/shadows.css';
  background: transparent;
}

.flat:disabled {
  color: disabled;
}

.flat:focus {
  background-color: divider;
}

.flat:active {
  background-color: activeButton;
}

/**
 * Plain flat
 */
.plainFlat {
  color: primaryText;
  composes: flat;
}

/**
 * Primary flat
 */
.primaryFlat {
  color: primary;
  composes: flat;
}

/**
 * Secondary flat
 */
.secondaryFlat {
  color: secondary;
  composes: flat;
}

/**
 * Shared raised values
 * raised => zDepth=1
 * raised:active => zDepth=4
 * raised:not(:active):focus => zDepth=3
 */
.raised {
  composes: shadowTransition from 'components/styles/shadows.css';
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.raised:disabled {
  background-color: divider;
  color: disabled;
}

.raised:active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.raised:not(:active):focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

/**
 * Plain raised
 */
.plainRaised {
  background: transparent;
  /*color: primaryText;*/
  color: primary;
  composes: raised;
}

.plainRaised:focus {
  background-color: divider;
}

.plainRaised:active {
}

/**
 * Primary raised
 */
.primaryRaised {
  background-color: primary;
  color: primaryContrast;
  composes: raised;
}

.primaryRaised:focus {
  /*background-color: color(primary shade(12%));*/
  background-color: primary; /* @TODO: Add shade */
}

.primaryRaised:active {
  background-color: primaryDark;
}

/**
 * Secondary raised
 */
.secondaryRaised {
  background-color: secondary;
  color: secondaryContrast;
  composes: raised;
}

.secondaryRaised:focus {
  /*background-color: color(var(--color-secondary) shade(12%));*/
  background-color: secondary; /* @TODO: Add shade */
}

.secondaryRaised:active {
  background-color: secondaryDark;
}
