.base-button {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;

  &:focus {
    outline: none;
  }
}

/* EnhancedButton */
.enhanced-button {
  &.link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &.disabled {
      cursor: default;
    }
  }
}

/* IconButton */
.icon-button {
  .flexbox;
  .flex-direction(row);
  .align-items(center);
  .justify-content(center);

  position: relative;
  padding: @icon-size / 2;
  height: @icon-size * 2;
  width: @icon-size * 2;

  &.disabled {
    color: lighten(@body-text-color, 75%);
  }
}

/* ActionButton */
.action-button {
  background-color: @action-button-color;
  border-radius: 50%;
  padding: 0;

  // order matters, :active must be last
  box-shadow: @action-button-shadow;
  &:hover, &:focus {
    box-shadow: @action-button-hover-shadow;
    transition: @action-button-hover-transition;
  }
  &:active {
    box-shadow: @action-button-active-shadow;
  }

  height: @action-button-size;
  width: @action-button-size;
  &.mini {
    height: @action-button-mini-size;
    width: @action-button-mini-size;

    span {
      line-height: @action-button-mini-size;
    }
  }

  span {
    color: @action-button-icon-color;
    line-height: @action-button-size;
  }
}

/* LabeledActionButton */
.labeled-action-button {
  .flexbox;
  .align-items(center);
  .flex-direction(row-reverse);

  &.left {
    .flex-direction(row-reverse);
    label {
      margin-right: @labeled-action-button-label-margin;
    }
  }
  &.right {
    .flex-direction(row);
    label {
      margin-left: @labeled-action-button-label-margin;
    }
  }
  &.top {
    .flex-direction(column-reverse);
    label {
      margin-bottom: @labeled-action-button-label-margin;
    }
  }
  &.bottom {
    .flex-direction(column);
    label {
      margin-top: @labeled-action-button-label-margin;
    }
  }

  /**
   * From when label was left-only
   * Breaks top and bottom label
   */
  // height: @action-button-size;
  // &.mini {
  //   height: @action-button-mini-size;
  // }

  label {
    background-color: @labeled-action-button-label-color;
    transition: @labeled-action-button-label-transition;
    box-shadow: @labeled-action-button-label-shadow;
    color: @labeled-action-button-text-color;
    border-radius: 2px;
    padding: 6px 8px;
    font-weight: bold;

    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    opacity: 0;
  }

  button:hover~label {
    transition-delay: @labeled-action-button-label-transition-delay;
    transition: @labeled-action-button-label-leave-transition;
    opacity: 1;
  }
}
