@import "../../styles/colors.less";

// BikeItem
.bike-item-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.bike-item-clear {
  position: absolute;
  height: 48px;
  width: 48px;
  right: 0;
  color: white;
  text-shadow: 0px 0px 6px @full-black;

  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.bike-item-image {
  position: absolute;
  top: 0;
}
