:root {
  --color-dark-disabled: rgba(0, 0, 0, 0.38);
  --color-dark-divider: rgba(0, 0, 0, 0.12);
  --color-error: #F44336;
  --color-primary: #2196F3;
}

.container {
  display: block;
  margin: 0;
  padding: 20px 0;
  position: relative;
}

.container[disabled] {
  opacity: 0.33;
  pointer-events: none;
}

.input {
  -webkit-appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  outline: none;
  padding: 4px 0 3px;
  position: relative;
  text-align: left;
  width: 100%;

  border-bottom: 1px solid var(--color-dark-divider);
  composes: subhead from 'components/styles/typography.css';
  composes: textColorPrimary from 'components/styles/colors.css';
}

.input[disabled] {
  background-color: transparent;
  border-bottom: 1px dashed var(--color-dark-disabled);
}

.inputError {
  border-color: var(--color-error);
}

.label {
  bottom: 0;
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: left;
  top: 24px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  composes: noWrap subhead from 'components/styles/typography.css';
}

.labelFloat {
  font-size: 12px;
  top: 4px;
}

.labelColored {
  composes: textColorAppPrimary from 'components/styles/colors.css';
}

.labelError {
  composes: textColorError from 'components/styles/colors.css';
}

.labelRegular {
  composes: textColorSecondary from 'components/styles/colors.css';
}

.underline:after {
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.underlineVisible:after {
  left: 0;
  visibility: visible;
  width: 100%;
}

.underlineError:after {
  background-color: var(--color-error);
}

.underlineRegular:after {
  background-color: var(--color-primary);
}

/* Firefox sets a min-width on the input, which can cause layout issues */
input.input {
  min-width: 0;
}

.error {
  margin-top: 3px;
  position: absolute;
  composes: caption from 'components/styles/typography.css';
  composes: textColorError from 'components/styles/colors.css';
}

.hideError {
  visibility: hidden;
}

.showError {
  visibility: visible;
}
