@value colors: 'components/styles/colors.css';
@value DarkDisabled, DarkDivider, Error, Primary, DarkPrimary, DarkSecondary from colors;

.container {
  display: block;
  margin: 0;
  padding: 20px 0;
  position: relative;
}

.container[disabled] {
  opacity: 0.33;
  pointer-events: none;
}

.input {
  -webkit-appearance: none;
  background: none;
  border: none;
  border-bottom: 1px solid DarkDivider;
  box-shadow: none;
  color: DarkPrimary;
  composes: Subhead from 'components/styles/typography.css';
  margin: 0;
  outline: none;
  padding: 4px 0 3px;
  position: relative;
  text-align: left;
  width: 100%;
}

.input[disabled] {
  background-color: transparent;
  border-bottom: 1px dashed DarkDisabled;
}

.inputError {
  border-color: Error;
}

.label {
  bottom: 0;
  composes: noWrap Subhead from 'components/styles/typography.css';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: left;
  top: 24px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.labelFloat {
  font-size: 12px;
  top: 4px;
}

.labelColored {
  color: Primary;
}

.labelError {
  color: Error;
}

.labelRegular {
  color: DarkSecondary;
}

.underline:after {
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.underlineVisible:after {
  left: 0;
  visibility: visible;
  width: 100%;
}

.underlineError:after {
  background-color: Error;
}

.underlineRegular:after {
  background-color: Primary;
}

/* Firefox sets a min-width on the input, which can cause layout issues */
input.input {
  min-width: 0;
}

.error {
  color: Error;
  composes: Caption from 'components/styles/typography.css';
  margin-top: 3px;
  position: absolute;
}

.hideError {
  visibility: hidden;
}

.showError {
  visibility: visible;
}
