/**
 * Animations
 */
:root {
  --animation-duration: 0.2s;
}

.animationFastOutSlowIn {
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.animationLinearOutSlowIn {
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.animationFastOutLinearIn {
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
