/**
 * Colors
 */

:root {
  /* Blue 500 */
  --color-primary: #2196F3;

  /* Blue 700 */
  --color-primary-dark: #1976D2;

  /* Red A200 */
  --color-accent: #FF5252;

  /* Red 500 */
  --color-error: #F44336;
}

/* Text color primary */
.textColorPrimary {
  color: rgba(0, 0, 0, 0.87);
}

/* Text color secondary */
/* Icon color */
.textColorSecondary,
.iconColor {
  color: rgba(0, 0, 0, 0.54);
}

/* Text color disabled */
/* Text color hint */
.textColorDisabled,
.textColorHint {
  color: rgba(0, 0, 0, 0.38);
}

/* Divider color */
.dividerColor {
  /*color: rgba(0, 0, 0, 0.12);*/
  background-color: rgba(0, 0, 0, 0.12);
}

/* Primary */
.colorPrimary {
  background-color: var(--color-primary);
}

/* Primary dark */
.colorPrimaryDark {
  background-color: var(--color-primary-dark);
}

/* Accent */
.colorAccent {
  background-color: var(--color-accent);
}

/* Constrast */
/* Color dark contrast: white */
.colorPrimaryContrast,
.colorAccentContrast {
  background-color: #FFFFFF;
}

/* Text primary */
.colorTextPrimary {
  color: var(--color-primary);
}

/* Text primary dark */
.colorTextPrimaryDark {
  color: var(--color-primary-dark);
}

/* Text accent */
.colorTextAccent {
  color: var(--color-accent);
}

/* Text contrast */
/* Color dark contrast: white */
.colorTextPrimaryContrast,
.colorTextAccentContrast {
  color: #FFFFFF;
}

/* Text color error */
.colorTextError {
  color: var(--color-error);
}
