// z-index
@z-index-fullscreen-overlay: 500;
@z-index-navbar: 100;
@z-index-tooltip: 100;
// @z-index-toast: 90;
@z-index-sidebar: 50;
@z-index-action-button: 20;

// Icon
@icon-size: 2.4rem;

// Navbar
// @navbar-height: 64px;

// Device sizes
@device-x-large: ~"only screen and (max-width: 1800px)";
@device-large:  ~"only screen and (max-width: 1264px)";
@device-medium:   ~"only screen and (max-width: 960px)";
@device-small: ~"only screen and (max-width: 600px)";
