/**
 * BikeshedCreator
 */
.fileInput {
  display: none;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.item {
  position: relative;
  height: 156px;
  width: 156px;
  margin: 0 4px 4px 0;
}

.addButton {
  composes: item;
  composes: typoButton from '../styles/typography.css';
  composes: reset clickable from '../Button/Button.css';

  border: 2px dashed currentColor;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  color: color(#9E9E9E alpha(20%));
}

.addButton:focus,
.addButton:hover {
  outline: none;
  color: color(#000 alpha(12%));
}

.addButton:active {
  color: color(#9E9E9E alpha(40%));
}

.addButtonIcon {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButtonText {
  padding: 8px 16px;
  composes: textColorHint from '../styles/colors.css';
}

.clearButton {
  composes: reset clickable from '../Button/Button.css';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  color: #FFF;
  opacity: 0.8;
  filter: drop-shadow(0px 0px 1px #000) brightness(125%);
}

.clearButton:hover,
.clearButton:focus {
  /*outline: none;*/
  opacity: 1;
}

.imageItem {
  composes: item;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

/**
 * Adds a semi-transparent border to images
 * Source: http://blog.vjeux.com/2012/image/css-semi-transparent-border-on-images.html
 */
.imageItem:after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.imageItem:hover .image {
  filter: brightness(50%);
}
