/**
 * @TODO: step bottom-padding should be 20px when inactive
 */
@value colors: 'components/styles/colors.css';
@value DarkDisabled, DarkDivider, Primary from colors;

.stepper {
  padding: 0 24px;
}

.step {
  padding: 24px 0;
  position: relative;
}

.title {
  display: inline-flex;
  align-items: center;
}

.activeCircle {
  background-color: Primary;
}

.inactiveCircle {
  background-color: DarkDisabled;
}

.circle {
  transition: background-color 140ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  align-self: flex-start;
}

.label {
  padding: 0 12px;
  display: inline-flex;
  flex-flow: column nowrap;
}

.line {
  position: absolute;
  top: 56px;
  height: calc(100% - 40px);
  left: 11px;
  width: 1px;
  background-color: DarkDivider;
}

.step:last-child > .line {
  display: none;
}

.body {
  padding: 16px 0 0 36px;
  position: relative;
}
