.grid-subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
  width: 100%;
  padding-left: 22px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: @secondary-text-color;
  font-size: @subheader-font-size;
}

.grid {
  display: flex;
  flex-flow: row, wrap;
}
