.bikeshed-builder {
  .flexbox;
  .flex-direction(column);
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  @media @device-x-large {
    width: 66.66%;
  }

  @media @device-large {
    width: 840px;
  }

  @media @device-medium {
    width: auto;
    margin: 0 40px;
  }
}

.add-bike-button {
  padding-bottom: @action-button-size / 2;
  padding-right: @action-button-size / 2;
  position: fixed;
  bottom: 0;
  right: 0;

  input {
    display: none;
  }
}

.bikeshed-builder-hero {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  height: 100%;
}

.bikeshed-builder-hero-logo {
  .icon {
    font-size: 10em;
    color: @grey-400;
  }
}

.bikeshed-builder-hero-heading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: @dark-black;
}

.bikeshed-builder-hero-create {
  font-size: 14px;
}

.bike-grid-container {
  &.empty {
    .bike-grid-subheader {
      display: none;
    }
  }

}

.bike-grid {

}

.bike-item {
  .whiteframe-z1;
  margin: 10px;
  width: 192px;
  height: 192px + 48px;
  background-color: @white;

  .bike-item-image {
    width: 100%;
    height: 192px;
    .flexbox;
    .align-items(center);
    .justify-content(center);

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .bike-item-metadata {
    .flexbox;
    .flex-direction(row);
    .align-items(center);
    .justify-content(space-between);
    width: 100%;
    height: 48px;
    padding-left: 16px;
    border-bottom: 1px solid @border-color;

    .bike-item-name {
      color: @primary-text-color;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .bike-item-clear {
      min-height: 48px;
      min-width: 48px;
      color: @grid-action-color;

      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }

  }

}
