@import "../../styles/styles.less";

// Home
.home {
  .flexbox;
  .flex-direction(column);
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  @media @device-x-large {
    width: 66.66%;
  }

  @media @device-large {
    width: 840px;
  }

  @media @device-medium {
    width: auto;
    margin: 0 40px;
  }
}

// BikeshedBuilder
.bikeshed-builder {
  .whiteframe-z1;
  margin: 40px 0;
  background-color: @white;
  border-radius: 2px;

  .bikeshed-builder-content {
    padding: 20px 20px 0;

    .bikeshed-builder-title-input {
      width: 100%;
    }
  }

  .bikeshed-builder-actions {
    .flexbox;
    width: 100%;
    padding: 15px 16px;
  }
}

// BikeshedBuilderButton
.bikeshed-builder-button {
  right: 0;
  bottom: 0;
  position: absolute;
  padding-bottom: @action-button-size / 2;
  padding-right: @action-button-size / 2;
}

// AddBikeButton
.add-bike-button {
  // top: -1 * (@action-button-size + @labeled-action-button-label-margin);
  // margin-top: -1 * (@action-button-size + @labeled-action-button-label-margin);
  margin-bottom: @action-button-size / -2;
  padding-right: @action-button-size / 2;
  position: absolute;
  bottom: 100%;
  right: 0;

  input {
    display: none;
  }
}

// BikeshedBuilderHero
.bikeshed-builder-hero {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  min-height: ~'calc(70vh - 56px)';
  height: 100%;

  .bikeshed-builder-hero-logo {
    .icon {
      font-size: 10em;
      color: @grey-400;
    }
  }

  .bikeshed-builder-hero-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: @dark-black;
  }

  .bikeshed-builder-hero-create {
    font-size: 14px;
  }
}

.bike-grid-container {
  &.empty {
    .bike-grid-subheader {
      display: none;
    }
  }
}

// BikeGrid
.bike-grid {

}

// BikeGridItem
.bike-grid-item {
  margin: 10px;
  width: 192px;
  height: 192px + 48px;
  background-color: @card-color;

  transition: box-shadow .15s cubic-bezier(.4, 0, .2, 1);
  .whiteframe-z1;
  &:hover {
    .whiteframe-z2;
  }

  .bike-item-image {
    .flexbox;
    .justify-content(center);
    .align-items(center);
    cursor: pointer;
    height: 192px;
    width: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .bike-item-metadata {
    .flexbox;
    .flex-direction(row);
    .align-items(center);
    .justify-content(space-between);
    width: 100%;
    height: 48px;
    padding-left: 16px;
    border-bottom: 1px solid @border-color;

    .bike-item-name {
      color: @primary-text-color;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .bike-item-clear {
      min-height: 48px;
      min-width: 48px;
      color: @grid-action-color;

      opacity: 0.3;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// BikeItem
.bike-item {
  @bike-item-size: 160px;
  width: @bike-item-size;
  height: @bike-item-size;
  margin: 2px 4px 2px 0;

  .bike-item-clear {
    position: relative;
    margin-left: auto;
    height: 48px;
    width: 48px;
    color: @white;
    text-shadow: 0px 0px 6px @full-black;

    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

  .bike-item-image-container {
    .flexbox;
    .align-items(center);
    .justify-content(center);
    margin-top: -48px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: pointer;

    &.small {
      border: solid 1px @border-color;
    }

    &.longer {
      .flex-direction(row);
      .bike-item-image {
        max-width: 100%;
      }
    }

    &.wider {
      .flex-direction(column);
      .bike-item-image {
        max-height: 100%;
      }
    }

    &.square .bike-item-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

// BikeItemPlaceholder
.bike-item-placeholder {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);

  border: dashed 2px @border-color;
  &:hover, &:focus {
    border-color: @grey-400;

    .bike-item-placeholder-icon .icon {
      color: @grey-400;
    }

    .bike-item-placeholder-text {
      color: @grey-600;
    }
  }

  .bike-item-placeholder-icon {
    margin: auto;

    .icon {
      color: @border-color;
      font-size: @display-3-font-size;
    }
  }

  .bike-item-placeholder-text {
    font-size: @button-font-size;
    padding: 0 16px 8px;
    color: @grey-500;
  }
}

// BikeshedBuilderPanel
.bikeshed-builder-panel-container {
  // Container is needed to add padding at the bottom
  min-height: 200px;
  height: 30vh;

  .bikeshed-builder-panel {
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    min-height: 200px;
    position: absolute;
    background-color: @card-color;
    box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
  }
}

// BikePreview
.bike-preview-container {
  .bike-preview-overlay {
    z-index: @z-index-fullscreen-overlay - 1;
    background-color: @black;
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .bike-preview {
    z-index: @z-index-fullscreen-overlay;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .flexbox;
    .align-items(center);
    .flex-direction(column);
    .justify-content(center);

    .bike-preview-close {
      top: 0;
      right: 0;
      position: absolute;
      color: @white;
      opacity: 0.6;
      &:hover {
        opacity: 0.8;
      }
    }

    .bike-preview-image {
      max-width: 80%;
      max-height: 80%;
    }
  }
}

// BikeshedBuilderDialog
.bikeshed-builder-dialog {
  .bikeshed-builder-dialog-body {
    .flexbox;
    .flex-direction(column);
    .align-items(flex-start);
  }

  .bikeshed-builder-dialog-title-input {
    width: 100%;
  }

  .bikeshed-builder-dialog-add-bikes-button {
    margin-right: auto;
  }
}

// BikeshedBuilderForm
.bikeshed-builder-form {


}
