/**
 * Layout
 */
@value toolbarDesktopHeight: 64px;
@value toolbarMobileHeight: 56px;

@value breakpoints: 'components/styles/breakpoints.css';
@value colors: 'components/styles/colors.css';

@value mobile from breakpoints;
@value LightBackground, Primary, PrimaryContrast from colors;

/* LayoutContainer */
.container {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* LayoutToolbar */
.toolbarSize {
  height: toolbarDesktopHeight;
  transition: height 0.18s ease-in;
  width: 100%;
}

@media mobile {
  .toolbarSize {
    height: toolbarMobileHeight;
  }
}

.toolbar {
  align-items: center;
  composes: toolbarSize;
  display: flex;
  padding: 0 16px;
  position: relative;
}

.toolbarTitle {
  margin-left: 56px;
}

/* PageLayout */
.page {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.pageToolbar {
  background-color: Primary;
  color: PrimaryContrast;
  composes: toolbarSize;
  position: fixed;
  top: 0;
  z-index: 2;
}

@media mobile {
  .pageToolbar {
    will-change: transform;
  }
}

.pageToolbarShadow {
  composes: ShadowElevation2 from 'components/styles/shadows.css';
}

.pageContent {
  background-color: LightBackground;
  display: flex;
  min-height: 100%;
  padding: toolbarDesktopHeight 0 0 0;
  width: 100%;
}

@media mobile {
  .pageContent {
    padding: toolbarMobileHeight 0 0 0;
  }
}
