/**
 * Layout
 */
:root {
  --layout-toolbar-desktop-height: 64px;
  --layout-toolbar-mobile-height: 56px;
}

@custom-media --mobile-screen (max-width: 600px);

/* LayoutContainer */
.container {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* LayoutToolbar */
.toolbarSize {
  height: var(--layout-toolbar-desktop-height);
  transition: height 0.18s ease-in;
  width: 100%;
}

@media (--mobile-screen) {
  .toolbarSize {
    height: var(--layout-toolbar-mobile-height);
  }
}

.toolbar {
  align-items: center;
  composes: toolbarSize;
  display: flex;
  padding: 0 16px;
  position: relative;
}

.toolbarTitle {
  margin-left: 56px;
}

/* PageLayout */
.page {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.pageToolbar {
  composes: colorPrimary textColorPrimaryContrast from 'components/styles/colors.css';
  composes: toolbarSize;
  position: fixed;
  top: 0;
  z-index: 2;
}

@media (--mobile-screen) {
  .pageToolbar {
    will-change: transform;
  }
}

.pageToolbarShadow {
  composes: shadow2dp from 'components/styles/shadows.css';
}

.pageContent {
  composes: colorBackground from 'components/styles/colors.css';
  display: flex;
  min-height: 100%;
  padding: var(--layout-toolbar-desktop-height) 0 0 0;
  width: 100%;
}

@media (--mobile-screen) {
  .pageContent {
    padding: var(--layout-toolbar-mobile-height) 0 0 0;
  }
}
