/* Application */
.layout {
  overflow: auto;
  width: 100%;
}

.content {
  padding-top: @navbar-height;
}

/* Sidebar */
@sidebar-transition-duration: 0.20s;

// sidebar and sidebar-overlay positioning and size
.sidebar-container {
  .sidebar {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: @sidebar-width;
    top: @navbar-height;
    bottom: 0;
    left: 0;
    z-index: @z-index-sidebar;
    transition: transform @sidebar-transition-duration ease-in-out;
  }

  .sidebar-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: @z-index-sidebar - 1;
    background-color: @black;
  }

  &.open {
    .sidebar-overlay {
      transition: opacity @sidebar-transition-duration ease-in-out;
      opacity: 0.4;
    }
  }

  &.closed {
    .sidebar {
      transform: translateX(@sidebar-width * -1.5)
    }

    .sidebar-overlay {
      transition:
        opacity @sidebar-transition-duration ease-in-out,
        transform 0s ease-in-out @sidebar-transition-duration;
      transform: translateX(-100%);
      opacity: 0;
    }
  }
}

.sidebar {
  .flexbox;
  .flex-direction(column);
  background-color: @sidebar-color;
  box-shadow: @sidebar-shadow;
  white-space: nowrap;
  line-height: 40px;
}

.sidebar-section {
  .flexbox;
  .flex-direction(column);

  margin: 1em 0;
  padding: 0 0 8px 0;

  border-bottom: 1px solid @border-color;
  &:last-child {
    border-bottom: none;
  }

  a {
    font-weight: bold;
    padding: 4px 24px;
    color: @sidebar-text-color;
    &.active {
      color: @accent-1-color;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.05);
      outline: none;
    }
  }
}

/* Navbar */
.navbar {
  .flexbox;
  .flex-direction(row);
  .align-items(center);
  .justify-content(space-between);
  .navbar-text;
  background-color: @navbar-color;
  z-index: @z-index-navbar;
  height: @navbar-height;
  width: 100%;
  position: fixed;
  box-shadow: @navbar-shadow;
}

.navbar-menu {
  margin: 0 0.5em;
  padding: 0.5em;
  opacity: 0.75;

  &:hover, &:focus {
    opacity: 1;
  }

  &::before {
    position: absolute;
    height: ~"calc(100% - 0.5em)";
    width: ~"calc(100% - 0.5em)";
    transform: translate(~"calc(-50% + 0.5em)", ~"calc(-50% + 0.5em)");
    border-radius: 50%;
    background-color: @black;
    opacity: 0;
    content: '';
  }

  &:focus::before {
    opacity: 0.1;
  }
}

.navbar-inner {
  .flexbox;
  .flex-direction(row);
  .align-items(center);
  .justify-content(space-between);
  width: 100%;
  :last-child {
    padding: 0 1em;
  }

  .navbar-title {
    color: @white;
  }
}

/* NavbarUser */
.navbar-user {
  .login {
    font-size: 0.8em;
  }
}

