:root {
  --color-dark-divider: rgba(0, 0, 0, 0.12);
  --color-dark-disabled: rgba(0, 0, 0, 0.38);
  --image-size: 96px;
}

.action {
  margin-top: 8px;
  height: 48px;
  display: inline-flex;
  align-items: center;
}

.hint {
  margin: 0 8px;
}

.listItem {
  height: var(--image-size);
  width: 100%;
}

.listItem + .listItem {
  margin-top: 8px;
}

.missingImage {
  composes: listItem;
  composes: clickable resetButton from 'components/styles/mixins.css';
  position: relative;
  border-radius: 2px;
  border: 2px dashed var(--color-dark-divider);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 16px;
  user-select: none;
}

.imageItem {
  composes: listItem;
  position: relative;
  display: flex;
  align-items: center;
}

.imageWrapper {
  flex: 0 0 var(--image-size);
  height: var(--image-size);
}

.imageInfo {
  flex: 1 1 auto;
  padding: 0 8px 0 16px;
}

.imageRemove {
  composes: clickable resetButton from 'components/styles/mixins.css';
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  color: var(--color-dark-disabled);
}
