@value imageSize: 96px;
@value DarkDisabled, DarkDivider, DarkHint from  'components/styles/colors.css';

.action {
  align-items: center;
  display: inline-flex;
  height: 48px;
  margin-top: 8px;
}

.hint {
  margin: 0 8px;
}

.listItem {
  height: imageSize;
  width: 100%;
}

.listItem + .listItem {
  margin-top: 8px;
}

.missingImage {
  align-items: center;
  border-radius: 2px;
  border: 2px dashed DarkDivider;
  composes: clickable resetButton from 'components/styles/mixins.css';
  composes: listItem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 16px;
  position: relative;
  user-select: none;
  width: 100%;
}

.missingImageIcon {
  color: DarkHint;
}

.imageItem {
  align-items: center;
  composes: listItem;
  display: flex;
  position: relative;
}

.imageWrapper {
  flex: 0 0 imageSize;
  height: imageSize;
}

.imageInfo {
  flex: 1 1 auto;
  padding: 0 8px 0 16px;
}

.imageRemove {
  align-items: center;
  color: DarkDisabled;
  composes: clickable resetButton from 'components/styles/mixins.css';
  display: flex;
  flex: 0 0 auto;
  height: 36px;
  justify-content: center;
  width: 36px;
}
