@value LightSecondary from 'components/styles/colors.css';

.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fileOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: opacity 0.2s;
  background-color: #000;
  z-index: 5;
}

.fileTarget {
  height: 80%;
  width: 80%;
  border: 2px dashed LightSecondary;
  display: flex;
  align-items: center;
  justify-content: center;
}
