.bikeshed-builder {
  .flexbox;
  .flex-direction(column);
  height: calc(~'100% -' @navbar-height);

  width: 1200px;
  margin: 0 auto;
  @media @device-x-large {
    width: 66.66%;
  }

  @media @device-large {
    width: 840px;
  }

  @media @device-medium {
    width: auto;
    margin: 0 40px;
  }
}

.add-bike-button {
  padding-bottom: @action-button-size / 2;
  padding-right: @action-button-size / 2;
  position: fixed;
  bottom: 0;
  right: 0;

  input {
    display: none;
  }
}
