
.bikeshed-builder {

}

.bikeshed-builder-main {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  height: calc(~'75% - ' @navbar-height);
  width: 100%;
}

.bikeshed-builder-panel {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  height: 25%;
  width: 100%;
}


@build-bikeshed-full-size: 8em;

.build-bikeshed-button {
  .flexbox;
  .flex-direction(row);
  .align-items(center);
  .justify-content(center);
  .enhanced-button;

  // padding: @build-bikeshed-full-size / 4;
  padding: ~'calc(8em / 4)';
  background: @red-A700;
  border-radius: 50%;
  border: none;

  .build-bikeshed-icon {
    height: 100%;
    width: 100%;
    color: @white;
    font-size: @build-bikeshed-full-size;
  }

  input {
    display: none;
  }

}
