
.bikeshed-builder {

}

.bikeshed-builder-main {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  height: calc(~'75% - ' @navbar-height);
  width: 100%;
}

.bikeshed-builder-panel {
  .flexbox;
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
  height: 25%;
  width: 100%;
}


.add-bike-button {
  input {
    display: none;
  }
}
