@value mobile from 'components/styles/breakpoints.css';

.page {
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
  /*margin: 24px auto;*/
  margin: 0 auto;
  max-width: 720px;
  position: relative;
  width: calc(100% - 48px);
}

@media mobile {
  .page {
    align-self: stretch;
    margin: 0 16px;
    width: 100%;
  }
}
