/**
 * Text component styles
 */

/**
 * Blockquote
 */
.blockquote {
  composes: typoBlockquote from '@components/styles/typography.css';
}

/**
 * Text
 */
.text {
  composes: typoBody1 from '@components/styles/typography.css';
}

/**
 * Display
 */
.display1 {
  composes: typoDisplay1 from '@components/styles/typography.css';
}

.display2 {
  composes: typoDisplay2 from '@components/styles/typography.css';
}

.display3 {
  composes: typoDisplay3 from '@components/styles/typography.css';
}

/**
 * Headline
 */
.headline {
  composes: typoHeadline from '@components/styles/typography.css';
}

/**
 * Title
 */
.title {
  composes: typoTitle from '@components/styles/typography.css';
}

/**
 * Subhead
 */
.subhead {
  composes: typoSubhead from '@components/styles/typography.css';
}
