/**
 * Text components
 */
@value hint, primaryText, secondaryText from 'components/styles/colors.css';

.headline {
  composes: headline from 'components/styles/typography.css';
}

.hint {
  color: hint;
  composes: caption from 'components/styles/typography.css';
}

.primary {
  color: primaryText;
  composes: body2 from 'components/styles/typography.css';
}

.secondary {
  color: secondaryText;
  composes: body1 from 'components/styles/typography.css';
}

.title {
  composes: title from 'components/styles/typography.css';
}

.caption {
  composes: caption from 'components/styles/typography.css';
}
